<div class="container">
  <div class="exchange-grid">
    <div class="row">
      <div class="col-4">
        <div class="block-content">1</div>
      </div>
      <div class="col-4">
        <div class="block-content">1</div>
      </div>
      <div class="col-4">
        <div class="block-content">1</div>
      </div>
      <div class="col-4">
        <div class="block-content">1</div>
      </div>
      <div class="col-4">
        <div class="block-content">1</div>
      </div>
      <div class="col-4">
        <div class="block-content">1</div>
      </div>
      <div class="col-4">
        <div class="block-content">1</div>
      </div>
      <div class="col-4">
        <div class="block-content">1</div>
      </div>
      <div class="col-4">
        <div class="block-content">1</div>
      </div>
    </div>
  </div>
</div>
