<div class="container sticky-top">
  <div class="exchange-card">
    <h1>Currency Exchanger</h1>
    <div class="row content">
      <div class="col left-side">
        <div class="mb-3">
          <label for="amount" class="form-label">Amount</label>
          <input type="number" class="form-control" id="amount" />
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" id="result" readonly />
        </div>
      </div>
      <div class="col right-side">
        <div class="from-to">
          <div class="mb-3">
            <label for="from" class="form-label">From</label>
            <select class="form-control" id="from">
              <option value="">Select Currency</option>
              <option  *ngFor="let currency of exchangeService.currenciesList" [value]="currency.symbol">{{currency.symbol}} - {{currency.name}}</option>
            </select>
          </div>
          <img src="./../../../../assets/images/exchange.png" alt="" />
          <div class="mb-3">
            <label for="to" class="form-label">To</label>
            <select class="form-control" id="to">
              <option value="">Select Currency</option>
              <option  *ngFor="let currency of exchangeService.currenciesList" [value]="currency.symbol">{{currency.symbol}} - {{currency.name}}</option>
            </select>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <button type="button" class="btn btn-dark">Convert</button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <input type="text" class="form-control" id="result" readonly />
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <button type="button" class="btn btn-dark">More Details</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
