<div class="container sticky-top">
  <div class="exchange-card">
    <div class="row">
      <div class="col-8">
        <h1 *ngIf="!convertDetails">Currency Exchanger</h1>
        <h1 *ngIf="convertDetails?.from">
          {{ convertDetails.from }} - {{ convertDetails.title }}
        </h1>
      </div>
      <div class="col-4 back-to-home">
        <button type="button" class="btn btn-dark">Back To Home</button>
      </div>
    </div>
    <form [formGroup]="convertForm">
      <div class="row content">
        <div class="col left-side">
          <div class="mb-3">
            <label for="amount" class="form-label">Amount</label>
            <input
              type="number"
              class="form-control"
              id="amount"
              formControlName="amount"
            />
          </div>
          <div class="mb-3">
            <p class="form-control convert-rate">
              <ng-container *ngIf="rate">
                1.00 {{ convertForm.value.from }} = {{ rate }}
                {{ convertForm.value.to }}
              </ng-container>
            </p>
          </div>
        </div>
        <div class="col right-side">
          <div class="from-to">
            <div class="mb-3">
              <label for="from" class="form-label">From</label>
              <select class="form-control" id="from" formControlName="from" [attr.disabled]="convertForm">
                <option value="">Select Currency</option>
                <option
                  *ngFor="let currency of exchangeService.currenciesList"
                  [value]="currency.symbol"
                >
                  {{ currency.symbol }} - {{ currency.name }}
                </option>
              </select>
            </div>
            <img src="./../../../../assets/images/exchange.png" alt="" />
            <div class="mb-3">
              <label for="to" class="form-label">To</label>
              <select class="form-control" id="to" formControlName="to">
                <option value="">Select Currency</option>
                <option
                  *ngFor="let currency of exchangeService.currenciesList"
                  [value]="currency.symbol"
                >
                  {{ currency.symbol }} - {{ currency.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <button
                type="button"
                class="btn btn-dark"
                (click)="convert()"
                [disabled]="convertForm.invalid"
              >
                Convert
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="mb-3">
                <p class="form-control convert-result">
                  <ng-container *ngIf="result">
                    {{ result }} {{ convertForm.value.to }}
                  </ng-container>
                </p>
              </div>
            </div>
            <div class="col" *ngIf="!convertDetails">
              <div class="mb-3">
                <button
                  type="button"
                  class="btn btn-dark"
                  [disabled]="convertForm.invalid"
                  (click)="navigateToDetail()"
                >
                  More Details
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
